.mat-simple-snackbar-action {
    --mat-mdc-snack-bar-button-color: red;
    --mdc-snackbar-container-color: black;
    --mdc-snackbar-supporting-text-color: yellow;
}
.success-message {
    margin-top: 16px;
    padding: 8px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
  }
  