<div
  class="bg-image"
  style="
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <div style="width: 50%" class="content">
    <mat-tab-group [(selectedIndex)]="selectedIndex" dynamicHeight>
      <mat-tab label="Login">
        <div class="header">
          <img src="../../../assets/profile.png" alt="Logo de l'application" />
          <h6>Hello Again</h6>
        </div>

        <app-login></app-login>
      </mat-tab>

      <mat-tab label="Register">
        <div class="header">
          <img src="../../../assets/profile.png" alt="Logo de l'application" />
          <h6>Happy to join you!</h6>
        </div>

        <app-register
          (didSuccessfullyRegistred)="accountDidCreated()"
        ></app-register>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div style=" padding: 20px; display: inline-block; position: absolute; top: 20px; left: 20px;">
    <h1 style="font-family: 'Roboto', sans-serif; font-weight: bold; text-transform: uppercase; font-size: 37px; color: #FFFFFF; margin: 0;">Community</h1>
    <h1 style="font-family: 'Roboto', sans-serif; font-weight: bold; text-transform: uppercase; font-size: 60px; color: #0174a5; margin: 0;">SESAME</h1>
  </div>
  
  
</div>
