.bg-image {
  background-image: url('../../../assets/dd.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

