<mat-nav-list>
  <br>
  <div class="logo-container">
    
    <h2 class="title" style="color: #ffa500">SESAME</h2>
    <h3 class="title" style="color: #fff">Community</h3>
  </div>



  <br>
  <br>

  <div style="display: flex; flex-direction: column; align-items: center;">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/listequestion" style="color: white !important; display: flex; align-items: center;">
      <mat-icon style="margin-right: 15px;">home</mat-icon> 
      <span   style="color: #fff;">Home</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" style="color: white !important; display: flex; align-items: center;">
      <mat-icon style="margin-right: 15px;">description</mat-icon>
      <span style="color: #fff;">Posts</span>
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" style="color: white !important; display: flex; align-items: center;">
      <mat-icon style="margin-right: 15px;">account_circle</mat-icon>
      <span style="color: #fff;">Account</span>
    </a>



    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" style="color: white !important; display: flex; align-items: center;">
      <mat-icon style="margin-right: 15px;">assignment</mat-icon>
      <span style="color: #fff;">My Posts</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" style="color: white !important; display: flex; align-items: center;">
      <mat-icon style="margin-right: 15px;">question_answer</mat-icon>
      <span style="color: #fff;">Answers</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" style="color: white !important; display: flex; align-items: center;">
      <mat-icon style="margin-right: 15px;">chat</mat-icon>
      <span style="color: #fff;">Chats</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" style="color: white !important; display: flex; align-items: center;">
      <mat-icon style="margin-right: 15px;">people</mat-icon>
      <span style="color: #fff;">All Users</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" style="color: white !important; display: flex; align-items: center;">
      <mat-icon style="margin-right: 15px;">settings</mat-icon>
      <span style="color: #fff;">Setting</span>
    </a>





  </div>
  
  
  
  
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  


<mat-divider></mat-divider>

<div class="logout-button">
  <div>
    <mat-icon>account_circle</mat-icon>
  </div>

  <div>
    <a mat-button>
      <mat-icon>exit_to_app</mat-icon>
      <span style="margin-left:8px" >Logout</span>
    </a>
  </div>
</div>
