<app-home-a>
  <div class="container-fluid page" style="border: 10px solid #ece9e9">
    <div
      class="d-flex page__box p-3 mt-2"
      style="border: 3px solid #c0bdb9"
    ></div>
    <div
      class="page__content shadow p-3 position-relative"
      style="border: 3px solid #c0bdb9"
    >
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link rel="stylesheet" href="/assets/style.css" />
      </head>

      <body>
        <main class="table">
          <section class="table__header">
            <h3>Domaines Question</h3>
            <div class="input-group">
              <input type="search" placeholder="Search Data..." />
            </div>
          </section>

          <div *ngIf="showSuccessMessage" class="success-message">
            La domaine question a été ajouter avec succès
          </div>

          <div *ngIf="showSuccessMessagee" class="success-message">
            La domaine question a été modifier avec succès
          </div>

          <div *ngIf="showErreurMessage" class="message">
          ce domaine question ne peut pas  étre suprimée avec succès
          </div>


          <section class="table__body">
            <table>
              <thead>
                <tr>
                  <th>
                    id_domaine_question
                    <span class="icon-arrow">&UpArrow;</span>
                  </th>
                  <th>
                    nom_domaine_question
                    <span class="icon-arrow">&UpArrow;</span>
                  </th>
                  <th>Action<span class="icon-arrow">&UpArrow;</span></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let domaineQuestion of domaineQuestions">
                  <td>{{ domaineQuestion.id_domaine_question }}</td>
                  <td>{{ domaineQuestion.nom_domaine_question }}</td>
                  <td>
                    <button
                      mat-icon-button
                      color="warn"
                      (click)="
                        deleteDomaineQuestion(
                          domaineQuestion.id_domaine_question
                        )
                      "
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button
                      mat-icon-button
                      color="primary"
                      (click)="editDomaineQuestion(domaineQuestion)"
                    >
                      <mat-icon>edit</mat-icon>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="openDialog()"
                    >
                      <mat-icon>add</mat-icon>Add Domaine Question
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <ng-template
              #dialogTemplate
              let-dialogRef="dialogRef"
              style="font-size: 1.2em"
            >
              <h5 style="color: blue">
                {{
                  isEditing ? "Edit Domaine Question" : "Add Domaine Question"
                }}
              </h5>
              <form #domaineQuestionForm="ngForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                  <input
                    matInput
                    [(ngModel)]="domaineQuestion.nom_domaine_question"
                    name="nom_domaine_question"
                    placeholder="Domaine Question Name"
                    required
                  />
                </mat-form-field>
                <br /><br />
                <button mat-raised-button color="primary" type="submit">
                  {{ isEditing ? "Save Changes" : "Add" }}
                </button>
                <button
                  mat-raised-button
                  color="warn"
                  type="button"
                  (click)="dialogRef.close()"
                >
                  Cancel
                </button>
              </form>
            </ng-template>
          </section>
        </main>
      </body>

      <mat-paginator
        [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</app-home-a>
