<app-appc>


  <div class="container-fluid page" style="border: 3px solid #ebece9">
    <div class="d-flex page__box p-3 mt-2" style="border: 3px solid #ffa500">
      <span class="page__box-title" style="color: rgb(243, 243, 243)"
        > Chats</span
      >
    </div>
    <div
      class="page__content shadow p-3 position-relative"
      style="border: 3px solid #ffa500"
    >
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Discussions</div>
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item"
          *ngFor="let user of users"
          (click)="onUserSelect(user)"
        >
          {{ user.firstname }} {{ user.lastname }}
          <span class="user-id"></span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        {{ currentUser?.firstname }} {{ currentUser?.lastname }}
      </div>
      <div class="card-body" *ngIf="currentUser">
        <div class="messages">
          <div *ngFor="let message of messages">
            <div
              *ngIf="
                message.senderUsername === currentUser.email;
                else receiver
              "
            >
              <div class="sent-message">
                {{ message.content }}
              </div>
            </div>
            <ng-template #receiver>
              <div class="received-message">
                {{ message.content }}
              </div>
            </ng-template>
          </div>

          <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="form-inline">
            <div class="form-group">
              <input
                formControlName="recipientId"
                type="hidden"
                [value]="selectedRecipientId"
              />
              <input
                formControlName="content"
                type="text"
                class="form-control"
                placeholder="Type your message..."
              />
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</app-appc>