<form class="form-container" (submit)="addQuestion()">
  <div *ngIf="showSuccessMessage" class="success-message">
    La question a été ajoutée avec succès
  </div>
  <div class="form-group">
    <label for="sujet">Sujet:</label>
    <input type="text" id="sujet" name="sujet" [(ngModel)]="question.sujet" required>
  </div>
  <div class="form-group">
    <label for="contenu">Contenu:</label>
    <textarea id="contenu" name="contenu" rows="5" [(ngModel)]="question.contenu" required></textarea>
  </div>
  <div class="form-group">
    <label for="id_nature_question">Nature:</label>
    <select id="id_nature_question" name="id_nature_question" [(ngModel)]="question.nature.id_nature_question" required>
      <option value="">--Choisir--</option>
      <option *ngFor="let option of natures" [value]="option.id_nature_question">{{ option.id_nature_question }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="id_domaine_question">Domaine:</label>
    <select id="id_domaine_question" name="id_domaine_question" [(ngModel)]="question.domaine.id_domaine_question" required>
      <option value="">--Choisir--</option>
      <option *ngFor="let option of domaines" [value]="option.id_domaine_question">{{ option.id_domaine_question }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="date">Date:</label>
    <input [matDatepicker]="picker" type="text" id="date" name="date" [(ngModel)]="question.date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </div>
  <button type="submit">Post</button>


</form>