.page {
  color: white;
  padding: 0 1rem;
  background: #cfcfd3;

  &__box {
    min-height: 120px;
    background-color: #0067ac;
    color: #004f83;
    margin: 0 -1rem;
    font-size: 36px;
  }

  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 1.3  rem;
    background: url("/assets/mm.jpg") center / cover;

    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.blue {
  border-radius: 100px;
  padding: 4px 13px;
  font-size: 12px;
  color: #ffffff;
  background-color: #1389eb;
}

.cc {
  border-radius: 50px;
  padding: 4px 13px;
  font-size: 12px;
  color: #131313;
  background-color: #DCDCDC ;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.jaune {
  border-radius: 100px;
  padding: 4px 13px;
  font-size: 12px;
  color: #ffffff;
  background-color: #ffa500
}
.bluee {
  border-radius: 100px;
  padding: 4px 13px;
  font-size: 12px;
  color: #ffffff;
  background-color: #74afdf;
}
.blueee {
  border-radius: 100px;
  padding: 4px 13px;
  font-size: 12px;
  color: #ffffff;
  background-color: #e0e6eb;
}
.button-right {
  float: right;
  color: black;

}

.page__box-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}



/* Style pour les cards des questions */
.question-card {
  background-color:white;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

/* Style pour l'avatar */
.question-card-avatar img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

/* Style pour l'auteur */
.question-card-avatar {
  display: flex;
  align-items: center;
}

.author-name {
  margin-left: 10px;
  font-size: 14px;
}


/* Style pour les commentaires */
.question-card-comments-container {
  margin-top: 20px;
}

.question-card-comments-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.comment-avatar {
  margin-right: 10px;
}

.comment-author {
  font-size: 14px;
  font-weight: bold;
}

.comment-date {
  font-size: 12px;
  margin-left: 10px;
}

.comment-text {
  font-size: 14px;
  margin-top: 10px;
}

/* Style pour le bouton "Voir les réponses" */
.voir {
  text-align: right;
}

.voir i {
  color: #0d6efd;
  cursor: pointer;
  font-size: 14px;
}

.voir i:hover {
  text-decoration: underline;
}


.question-card-new-comment {
  display: flex;
  align-items: center;
  //margin-top: 20px;
}

.question-card-new-comment input[type="text"] {
  flex-grow: 1;
  margin-right: 8px;
  padding: 8px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.question-card-new-comment button {
  background-color: #0d6efd;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
  padding: 8px;
  transition: background-color 0.2s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.question-card-new-comment button:hover {
  background-color: #0b5ed7;
}


.question-card-new-comment::placeholder {
  font-size: 12px; /* Adjust the font size to your preference */
}

.question-card-new-comment input[type="text"] {
  height: 25px; /* modifier la hauteur selon vos besoins */
  resize: none; /* empêcher le redimensionnement */
  /* autres styles */
}



.comment-votes {
  display: flex;
  justify-content: flex-end; /* Aligner le contenu à droite */
  align-items: center; /* Centrer verticalement */
  margin-top: 10px; /* Ajouter un peu d'espace en haut */
}

.comment-votes button {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 20px;
  margin-left: 10px;
  width: 40px;
}

.comment-votes button.voted {
  background-color: #0d6efd;
  color: #fff;
}

.voted {
  color: red;
}
.add-button {
  display: inline-block;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0056b3;
}



.search-input {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-input::placeholder {
  font-size: 12px; /* Adjust the font size to your preference */
}

.search-button {
  height: 30px;
  padding: 0 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}


:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
}


mat-drawer {
  background-color: #0067ac;
  color: #004f83;
}

body {
  --color-second: #0067ac;
  --color-white: #fff;
  --color-body: #e4e9f7;
  --color-light: #e0e0e0;
}


