.page {
  color: white;
  padding: 0 1rem;
  background: #cfcfd3;

  &__box {
    min-height: 120px;
    background-color: #0067ac;
    color: #004f83;
    margin: 0 -1rem;
    font-size: 36px;
  }

  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
    background: url("/assets/mm.jpg") center / cover;

    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.button-right {
  float: right;
  color: black;

}

.page__box-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style pour les cards des questions */
.question-card {
  background-color: #f0dede;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

/* Style pour l'avatar */
.question-card-avatar img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

/* Style pour l'auteur */
.question-card-avatar {
  display: flex;
  align-items: center;
}

.author-name {
  margin-left: 10px;
  font-size: 14px;
}


/* Style pour les commentaires */
.question-card-comments-container {
  margin-top: 20px;
}

.question-card-comments-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.comment-avatar {
  margin-right: 10px;
}

.comment-author {
  font-size: 14px;
  font-weight: bold;
}

.comment-date {
  font-size: 12px;
  margin-left: 10px;
}

.comment-text {
  font-size: 14px;
  margin-top: 10px;
}

/* Style pour le bouton "Voir les réponses" */
.voir {
  text-align: right;
}

.voir i {
  color: #0d6efd;
  cursor: pointer;
  font-size: 14px;
}

.voir i:hover {
  text-decoration: underline;
}


.question-card-new-comment {
  display: flex;
  align-items: center;
  //margin-top: 20px;
}

.question-card-new-comment input[type="text"] {
  flex-grow: 1;
  margin-right: 8px;
  padding: 8px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.question-card-new-comment button {
  background-color: #0d6efd;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
  padding: 8px;
  transition: background-color 0.2s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.question-card-new-comment button:hover {
  background-color: #0b5ed7;
}



.question-card-new-comment input[type="text"] {
  height: 38px; /* modifier la hauteur selon vos besoins */
  resize: none; /* empêcher le redimensionnement */
  /* autres styles */
}
/*
  .question-card:hover {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    
}
*/