<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <!-- <mat-drawer mode="side" opened="true"> -->
  <app-navbaruser></app-navbaruser>
  </mat-drawer>
  <mat-drawer-content>

    <app-headeruser (toggleSidebarForMe)="sideBarToggler()"></app-headeruser>
  <div class="container-fluid page" style="border: 3px solid #ece9e9">
    <div class="d-flex page__box p-3 mt-2" style="border: 3px solid #ffa500">
      <span class="page__box-title" style="color: rgb(243, 243, 243)"
        >Posts</span
      >
      
    </div>
<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  >
</head>
    <div style="display: flex; justify-content: flex-end" >
      <button
        mat-raised-button
        color="primary"
        (click)="getMeilleuresReponsesTrieParVotes()"
      >
       Top Rated
      </button>
    </div>

    <input
      type="text"
      [(ngModel)]="searchDomain"
      placeholder="Search by domain"
      class="search-input"
    />
    <input
      type="text"
      [(ngModel)]="searchNature"
      placeholder="Search by nature"
      class="search-input"
    />
    <input
      type="text"
      [(ngModel)]="searchSujet"
      placeholder="Search by Sujet "
      class="search-input"
    />
    <input
      type="text"
      [(ngModel)]="searchAuthor"
      placeholder="Search by author's first name"
      class="search-input"
    />

    <button
      mat-raised-button
      color="primary"
      (click)="searchQuestions()"
      class="search-button"
    >
      Search
    </button>
    <button
    mat-raised-button
    color="primary"
    class="button-right"
    (click)="openDialog()"
  >
    Add
  </button>

    <br />
    <br />
    <br />

    <div class="page__content shadow p-3" style="border: 3px solid #ffa500">
      <ng-container *ngFor="let question of filteredQuestions">
        <div class="question-card">


          <div class="question-card-header">
            <div class="question-card-avatar author-name">
              <ng-container *ngIf="question.auteur.image_url">
                <img [src]="question.auteur.image_url" alt="avatar-image" />
              </ng-container>
              <ng-container *ngIf="!question.auteur.image_url">
                <img src="../../assets/profile.png" alt="avatar-image" />
              </ng-container>
            </div>
            <div class="author-info">
              <span class="author-name" class="blue">
                <span >{{ question.auteur.firstname }}</span>
                <span>{{ question.auteur.lastname }}</span>
              
              </span>
              <span class="blue">{{ question.auteur.status }}</span>
            </div>
            
          </div>

          <div class="question-card-content">
            <div class="question-card-meta">
              <br />
              <h6>Sujet: {{ question.sujet }}</h6>

         
              <br />
            
            </div>


            <h6 class="question-card-content-title"><{{ question.contenu }}</h6>

            <span class="jaune">#{{ question.domaine. nom_domaine_question }}</span>

            <span class="jaune">#{{ question.nature. nom_nature_question }}</span>

            <span class="jaune">#{{ question.sujet }}</span>
            <br />
            <div class="voir" >
              <i
              class="fas fa-comments"
                (click)="showReponses(question.id_question)"  class="blueee"
                >Comments</i
              >
              <span class="bluee "><i class="far fa-calendar-alt" ></i> {{ question.date | date }}</span>

            </div>
            <div
              class="question-card-comments-container"
              *ngIf="question.showReponses"
            >
              <h6 class="question-card-comments-title">Comments</h6>
              <div
                class="question-card-comments"
                *ngFor="let reponse of question.reponses"
              >
                <div class="comment">
                  <div class="comment-avatar">
                    <div class="question-card-avatar author-name">
                      <img src="../../assets/profile.png" alt="avatar-image" />
                    </div>
                  </div>

                  <div class="comment-content" class="cc">
                    <div class="comment-header" >
                      <span class="author-name"class="blue"  >{{
                        reponse.auteur.firstname
                      }}</span>
                      <span class="comment-date" class="far fa-calendar-alt" class="bluee">{{
                        reponse.dateCreation | date
                      }}</span>
                    </div>
                    <p class="comment-text" >{{ reponse.contenu }}</p>
                    <div class="comment-votes">
                      <button
                        mat-icon-button
                        [class.voted]="reponse.isVoted"
                        (click)="voteForReponse(reponse.id_reponse)"
                      >
                        <mat-icon>thumb_up</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="question-card-new-comment">
                <input
                  type="text"
                  style="height: 28px !important"
                  #responseContent
                  required
                />
                <button
                  type="button"
                  (click)="
                    addReponse(question.id_question, responseContent.value)
                  "
                >
                  Post
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <mat-paginator
        [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</mat-drawer-content>
</mat-drawer-container>
