<app-appc>
  <div class="container-fluid page" style="border: 3px solid #ece9e9">
    <div class="d-flex page__box p-3 mt-2" style="border: 3px solid #ffa500">
      <span class="page__box-title" style="color: rgb(243, 243, 243)"
        >Posts</span
      >
    </div>

    <div class="page__content shadow p-3" style="border: 3px solid #ffa500">
      <div class="question-card" *ngFor="let question of questions">
        <button
          mat-raised-button
          color="primary"
          class="button-right"
          (click)="openDialog()"
        >
          Add
        </button>
        <div class="question-card-header">
          <div class="question-card-avatar author-name">
            <ng-container *ngIf="question.auteur.image_url">
              <img [src]="question.auteur.image_url" alt="avatar-image" />
            </ng-container>
            <ng-container *ngIf="!question.auteur.image_url">
              <img src="../../assets/profile.png" alt="avatar-image" />
            </ng-container>
          </div>
          <div class="author-info">
            <span class="author-name"
              >{{ question.auteur.firstname }}
              {{ question.auteur.lastname }}
              {{ question.date | date }}
            </span>
          </div>
        </div>

        <div class="question-card-content">
          <div class="question-card-meta">
            <br />
            <h4>Sujet: {{ question.sujet }}</h4>
            <br />
          </div>

          <span><h5>Continu:</h5></span>

          <h4 class="question-card-content-title"><{{ question.contenu }}</h4>
          <br />
          <div class="voir">
            <i
              class="el el-align-right"
              (click)="showReponses(question.id_question)"
              >Comments</i
            >
          </div>
          <div
            class="question-card-comments-container"
            *ngIf="question.showReponses"
          >
            <h6 class="question-card-comments-title">Comments</h6>
            <div
              class="question-card-comments"
              *ngFor="let reponse of question.reponses"
            >
              <div class="comment">
                <div class="comment-avatar">
                  <div class="question-card-avatar author-name">
                    <img src="../../assets/profile.png" alt="avatar-image" />
                  </div>
                </div>
           
                <div class="comment-content">
                  <div class="comment-header">
                    <span class="author-name">{{ reponse.auteur.firstname }}</span>
                    <span class="comment-date">{{ reponse.dateCreation | date }}</span>
                  </div>
                  <p class="comment-text">{{ reponse.contenu }}</p>
                  <div class="comment-votes">
                   
                    <button mat-icon-button [class.voted]="reponse.isVoted" (click)="voteForReponse(reponse.id_reponse)">
                      <mat-icon>thumb_up</mat-icon>
                    </button>
                  </div>
                </div>                
              </div>
            </div>
            <div class="question-card-new-comment">
              <input
                type="text"
                style="height: 28px !important;"
                #responseContent
                required
              />
              <button
                type="button"
                (click)="
                  addReponse(question.id_question, responseContent.value)
                "
              >
                Post
              </button>
            </div>
          </div>
        </div>
      </div>
      <mat-paginator
        [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</app-appc>
