<app-appc>
  <div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">
      <span class="page__box-title" style="color: rgb(243, 243, 243)"
        >Posts</span
      >
    </div>

    <div class="page__content shadow p-3">
      <div class="question-card" *ngFor="let question of questions">
        <div class="question-card-header">
          <div class="question-card-avatar">
            <img src="../../assets/profile.png" alt="avatar-image" />
          </div>
          <div class="author-info">
            <span class="author-name"
              >{{ question.auteur.firstname }}
              {{ question.auteur.lastname }}
              {{ question.date | date }}
            </span>
          </div>
        </div>

        <div class="question-card-content">
          <div class="question-card-meta">
            <!--
            <p><small>Domaine: {{question.domaine.nom_domaine_question}}</small></p>
            <p><small>Nature: {{question.nature.nom_nature_question}}</small></p>
            -->
          </div>
          <h2 class="question-card-content-title">{{ question.contenu }}</h2>
          <br />
          <div class="voir">
            <i
              class="el el-align-right"
              (click)="showReponses(question.id_question)"
              >Voir les réponses</i
            >
          </div>
          <div
            class="question-card-comments-container"
            *ngIf="question.showReponses"
          >
            <h6 class="question-card-comments-title">Comments</h6>
            <div
              class="question-card-comments"
              *ngFor="let reponse of question.reponses"
            >
              <div class="comment">
                <div class="comment-avatar">
                  <div class="question-card-avatar">
                    <img src="../../assets/profile.png" alt="avatar-image" />
                  </div>
                </div>
                <div class="comment-content">
                  <div class="comment-header">
                    <span class="comment-author">{{
                      reponse.auteur.firstname
                    }}</span>
                    <span class="comment-date">{{
                      reponse.dateCreation | date
                    }}</span>
                  </div>
                  <p class="comment-text">{{ reponse.contenu }}</p>
                </div>
              </div>
            </div>
            <div class="question-card-new-comment">
                <input type="text" placeholder="Add a comment" #responseContent required />
                <button type="button" (click)="addReponse(question.id_question, responseContent.value)">Post</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</app-appc>
