<mat-nav-list>
  <br />
  <div class="logo-container">
    <h2 class="title" style="color: #ffa500">SESAME</h2>
    <h3 class="title" style="color: #fff">Community</h3>
  </div>

  <mat-divider></mat-divider>
  <br />
  <br />

  <div style="display: flex; flex-direction: column; align-items: center">
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/boardadmin"
      style="color: white !important; display: flex; align-items: center"
    >
      <mat-icon style="margin-right: 15px">dashboard</mat-icon>
      <span style="color: #fff">tableau bord</span>
    </a>
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/listdomaine"
      style="color: white !important; display: flex; align-items: center"
    >
      <mat-icon style="margin-right: 15px">domain</mat-icon>
      <span style="color: #fff">Gestion des domaines</span>
    </a>
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/listnature"
      style="color: white !important; display: flex; align-items: center"
    >
      <mat-icon style="margin-right: 15px">nature_people</mat-icon>
      <span style="color: #fff">Gestion des natures</span>
    </a>
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/usr"
      style="color: white !important; display: flex; align-items: center"
    >
      <mat-icon style="margin-right: 15px">people</mat-icon>
      <span style="color: #fff">Gestion des users</span>
    </a>

    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/listepost"
      style="color: white !important; display: flex; align-items: center"
    >
      <mat-icon style="margin-right: 15px">assignment</mat-icon>
      <span style="color: #fff">Posts</span>
    </a>
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/answ"
      style="color: white !important; display: flex; align-items: center"
    >
      <mat-icon style="margin-right: 15px">question_answer</mat-icon>
      <span style="color: #fff">Answers</span>
    </a>
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/profileAdmin"
      style="color: white !important; display: flex; align-items: center"
    >
      <mat-icon style="margin-right: 15px">account_circle</mat-icon>
      <span style="color: #fff">Account</span>
    </a>

    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/dashboard"
      style="color: white !important; display: flex; align-items: center"
    >
      <mat-icon style="margin-right: 15px">settings</mat-icon>
      <span style="color: #fff">Settings</span>
    </a>
  </div>
</mat-nav-list>
