:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
  }
}

.logo {
  text-align: left;
  padding: 1rem 0.5rem;

  img {
    width: 118px;
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

}

.list-item-active {
  background: rgb(216, 216, 255) !important;
  border-radius: 0 2rem 2rem 0;

  &:hover {
    background: rgb(155, 155, 170);
 }

  color: #000000 !important;

  ::ng-deep {
    .mat-list-item-content {
      background: #1d2129 !important;

      &:hover {
        background: #0b0d11 !important;
      }
    }
  }
}
