<app-appc>

  <div class="container-fluid page" style="border: 10px solid #ece9e9">
    <div class="d-flex page__box p-3 mt-2"><span style="color: aliceblue;">Home Page</span></div>

    
    <div
      class="page__content shadow p-3 position-relative"
      style="border: 10px solid #ece9e9"
    >
    <div
    class="text-right"
    style="position: absolute; bottom: 20px; right: 20px"
  >
    <h1 class="title" style="color: #fff">Community</h1>
    <h1 class="title" style="color: #ffa500">SESAME</h1>
  </div>
    <br>
    <br>
    <br>

      <h2 class="page__content-text">
        Chez SESAME, nous croyons en l'importance de l'apprentissage
        collaboratif et de la communauté éducative. Nous avons créé une
        plateforme qui permet à tous les utilisateurs de partager des idées et
        des connaissances, de discuter des sujets d'intérêt et de travailler
        ensemble pour atteindre leurs objectifs éducatifs. Rejoignez-nous
        aujourd'hui et commencez à explorer tout ce que notre plateforme SESAME
        peut offrir !
      </h2>
    </div>
  </div>
</app-appc>