<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="content" class="content content-full-width">
            <div class="profile-content">
              <div class="tab-content p-0">
                <div class="tab-pane fade active show" id="profile-post">
                  <ul class="timeline">
                    <li>
                      <div class="timeline-icon">
                        <a href="javascript:;">&nbsp;</a>
                      </div>

                      <div class="timeline-body">
                        <div class="timeline-header">
                          <span class="userimage"
                            ><img
                              src="https://bootdey.com/img/Content/avatar/avatar3.png"
                              alt
                          /></span>
                          <span class="username"
                            ><a href="javascript:;">Sean Ngu</a> <small></small
                          ></span>
                         
                        </div>
                        <div class="timeline-content">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Nunc faucibus turpis quis tincidunt luctus.
                            Nam sagittis dui in nunc consequat, in imperdiet
                            nunc sagittis.
                          </p>
                        </div>
                        <div class="timeline-likes">
                          <div class="stats-right">
                            <span class="stats-text"></span>
                            <span class="stats-text">21 Comments</span>
                          </div>
                          <div class="stats">
                            <span class="fa-stack fa-fw stats-icon">
                              <i
                                class="fa fa-circle fa-stack-2x text-danger"
                              ></i>
                              <i
                                class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"
                              ></i>
                            </span>
                            <span class="fa-stack fa-fw stats-icon">
                              <i
                                class="fa fa-circle fa-stack-2x text-primary"
                              ></i>
                              <i
                                class="fa fa-thumbs-up fa-stack-1x fa-inverse"
                              ></i>
                            </span>
                            <span class="stats-total"></span>
                          </div>
                        </div>
                        <div class="timeline-footer">
                          <a
                            href="javascript:;"
                            class="m-r-15 text-inverse-lighter"
                            ><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i>
                            Like</a
                          >
                          <a
                            href="javascript:;"
                            class="m-r-15 text-inverse-lighter"
                            ><i class="fa fa-comments fa-fw fa-lg m-r-3"></i>
                            Comment</a
                          >
                       
                        </div>
                        <div class="timeline-comment-box">
                          <div class="user">
                            <img
                              src="https://bootdey.com/img/Content/avatar/avatar3.png"
                            />
                          </div>
                          <div class="input">
                            <form action>
                              <div class="input-group">
                                <input
                                  type="text"
                                  class="form-control rounded-corner"
                                  placeholder="Write a comment..."
                                />
                                <span class="input-group-btn p-l-10">
                                  <button
                                    class="btn btn-primary f-s-12 rounded-corner"
                                    type="button"
                                  >
                                    Comment
                                  </button>
                                </span>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
  </body>
</html>
