:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
}


mat-drawer {
  background-color: #0067ac;
  color: #004f83;
}

body {
  --color-second: #0067ac;
  --color-white: #fff;
  --color-body: #e4e9f7;
  --color-light: #e0e0e0;
}

