<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpenn">
    <!-- <mat-drawer mode="side" opened="true"> -->
 <app-sidenav-admin></app-sidenav-admin>
  </mat-drawer>
  <mat-drawer-content>
    <app-header-admin> (toggleSidebarForMee)="sideBarTogglerr()"></app-header-admin>
    <div class="container-fluid page" style="border: 10px solid #ece9e9">
      <div
        class="d-flex page__box p-3 mt-2"
        style="border: 3px solid #c0bdb9"
      ></div>
      <div
        class="page__content shadow p-3 position-relative"
        style="border: 3px solid #c0bdb9"
      >
        <head>
          <meta charset="UTF-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  
          <link rel="stylesheet" href="/assets/style.css" />
        </head>
  
        <body>
          <main class="table">
            <section class="table__header">
              <h3>All My Answers</h3>
              <div class="input-group">
                <input type="search" placeholder="Search Data..." />
              </div>
            </section>
            <section class="table__body">
              <table>
                <thead>
                  <tr>
                    <th>Id <span class="icon-arrow">&UpArrow;</span></th>
                    <th>Contenu <span class="icon-arrow">&UpArrow;</span></th>
                    <th>
                      dateCreation <span class="icon-arrow">&UpArrow;</span>
                    </th>
                    <th>
                      Auteur Question <span class="icon-arrow">&UpArrow;</span>
                    </th>
  
                    <th>Action<span class="icon-arrow">&UpArrow;</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let reponse of reponses">
                    <td>{{ reponse.id_reponse }}</td>
  
                    <td>
                      <small>{{ reponse.contenu }} </small>
                    </td>
                    <td>{{ reponse.dateCreation | date }}</td>
  
                    <td>{{ reponse.question.auteur.firstname }}</td>
  
                    <td>
                      <button mat-icon-button color="warn" (click)="deleteReponse(reponse.id_reponse)">
                        <mat-icon>delete</mat-icon>
                      </button>
  
                     
                    </td>
                  </tr>
                </tbody>
              </table>
              
      
            </section>
          </main>
        </body>
  
        <mat-paginator
          [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
