body {
    min-height: 80vh;
    background: url("/assets/s4.jpg") center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
  
    &__box {
      min-height: 130px;
      background-color: #0f1f2a;
      color: #004f83;
      margin: 0 -1rem;
      font-size: 30px;
    }
  
    &__content {
      min-height: calc(100vh - 178px);
      border-radius: 10px;
      margin-top: -2rem;
      background: white;
      color: black;
      font-size: 2rem;
  
      &-data {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  :host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 260px;
  }
  mat-drawer-container {
    height: 100%;
  }
  
  
  mat-drawer {
    background-color: #0f1f2a;
    color: #004f83;
  }
  
  body {
    --color-second: #0067ac;
    --color-white: #fff;
    --color-body: #e4e9f7;
    --color-light: #e0e0e0;
  }
  
  